@charset 'UTF-8';
@import '/src/exercise3/utils/variables.scss';

.contactForm {
  table {
    width: 100%;
    margin-top: 50px;
    tr {
      border-top: 1px dashed $color-gray;
      border-bottom: 1px dashed $color-gray;
      /*表組のmin-heightがheightで指定する。*/
      height: 100px;
    }
    th,
    td {
      padding: 20px 0;
      vertical-align: middle;
    }
    th {
      width: 35%;
      padding-right: 40px;
    }
  }

  .contactForm__th {
    display: flex;
    justify-content: space-between;
  }
  .contactForm__nameGroup {
    display: flex;
    & > div {
      width: calc((100% - 20px) / 2);
    }
    div:first-child {
      margin-right: 20px;
    }
    label {
      display: block;
    }
  }
  .contactForm__attributeGroup {
    display: flex;
    div:first-child {
      margin-right: 20px;
    }
  }

  .contactForm__privacy {
    margin: 70px 0;
  }
  .contactForm__button {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    table,
    table {
      display: block;
      tbody,
      tr,
      th,
      td,
      tr {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px 0;
      }
    }

    .contactForm__th {
      display: flex;
      justify-content: left;
      & > span,
      label {
        margin-right: 2em;
      }
    }

    .contactForm__nameGroup {
      display: block;
      & > div {
        width: 100%;
      }
      div:first-child {
        margin-right: 0;
      }
      label {
        display: block;
      }
    }
    .contactForm__attributeGroup {
      div:first-child {
        margin-right: 40px;
      }
    }
    .contactForm__privacy {
      margin: 40px 0;
    }
  }
}
