@charset 'UTF-8';
@import '/src/exercise1/utils/variables.scss';

.navLink {
  padding: 1.5em 1em;
  border-bottom: 1px solid #e7e7e7e7;
  list-style: none;
  font-weight: bold;
  background-color: inherit;
  a {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: block;
    border: none;
    padding: auto;
    a {
      position: relative;
      display: inline;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        transition: transform 0.3s;
        transform: scale(0, 1);
        background-color: $color-main;
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.navLink_active {
  border-left: 5px solid $color-main;
  a {
    display: block;
    font-weight: 900;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    border: none;
    a {
      display: inline;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $color-main;
      }
    }
  }
}
