@charset 'UTF-8';
@import './variables';
.container {
  width: 500px;
  height: 500px;
  background-color: $color-sub;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  & li + li {
    padding-top: 10px;
  }
  & > * {
    font-size: 1.5rem;
  }
}
