@charset 'UTF-8';
@import '/src/exercise1/utils/variables.scss';

.container {
  background-color: $color-main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  .mainVisual {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0;
    .mainVisual__catchCopy {
      margin-top: 20px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      line-height: 2;
    }
    .mainVisual__illust {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    .mainVisual {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1080px;
      padding: 40px 0;
      .mainVisual__catchCopy {
        margin-top: 0;
        width: 40vw;
        font-size: 30px;
        margin: 0 100px;
      }
      .mainVisual__illust {
        width: 40vw;
        height: 382px;
        margin-right: 20px;
      }
    }
  }
}
