@charset 'UTF-8';
@import '/src/exercise3/utils/_variables.scss';

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    &:focus + label {
      outline: 1px solid $color-main;
      box-shadow: 0 0 5px $color-main;
    }
    &:checked + label::after {
      display: block;
    }
  }
  label {
    padding: 0.3em 0.3em 0.3em 2em;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 1.4em;
      height: 1.4em;
      border: 1px solid $color-gray;
      background-color: $color-white;
    }
    &::after {
      content: '';
      position: absolute;
      display: none;
      top: -3px;
      left: 0;
      width: 1.7em;
      height: 0.8em;
      border-top: 3px solid $color-main;
      border-right: 3px solid $color-main;
      transform: rotate(135deg);
    }
  }
}
